/* https://coolors.co/palette/c98564-e76205-f78d47-f6c18b-c46116-b6edf6-e6a499 

or
https://coolors.co/cb9b8c-e3733e-e99b7a-eec4aa-d47241-d4e5e9-e4b9b4

https://coolors.co/palette/606c38-283618-fefae0-dda15e-bc6c25

<a href="https://www.freepik.com/free-vector/wood-vector-texture-template-pattern-seamless-material-hardwood-floor-natural-light-parquet-vector-illustration_11059494.htm#query=wood%20grain&position=0&from_view=keyword&track=ais">Image by macrovector</a> on Freepik

*/

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
	color: white;
	margin: auto;
	padding: 5px;
	transition: 0.3s all;
}

.material-symbols-outlined:hover {
	font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 24;
}

.map-icon {
	/* font-size: 10px; */
}

.map-icon:hover {
	color: #000;
}

.shadow {
	box-shadow: 0px 0px 12px #7c7b7b92;
}

.rounded {
	border-radius: 0.5rem;
}

.forest-gradient {
	background: #5a3f37; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#2c7744,
		#5a3f37
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#2c7744,
		#5a3f37
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table {
	margin-top: 1%;
}

.headline {
	padding-top: 1%;
}

.card-links {
	/* border: 0px 1px solid #6f1e1e; */
	text-align: center;
	/* border-radius: 0.3rem; */
	background-color: #617a55;
	color: #fff;
}

.card-links a {
	color: #fff;
	text-decoration: none;
}

.card-links a:hover {
	color: #fff;
	text-decoration: underline;
}

.figure-img {
	max-width: 720px;
	margin: 0;
}

.map {
	margin: 1rem auto;
}

.section-heading {
	margin: 0;
	padding: 0;
}

.panel {
	margin-bottom: 1rem;
	margin-top: 3rem;
	padding: 0;
}

body {
	background-color: #fff8d63b;
}

.btn-green {
	background-color: #263a29;
	color: #fff;
}

.btn-map {
	background-color: #6cb476aa;
	/* background-color: #263a29; */
	border: 2px solid #263a29;
	color: #000;
	padding: 3px;
	/* margin: 1%; */
}

.btn-map:hover {
	color: rgb(33, 37, 41);
	border: 2px solid #263a29;
	box-shadow: 0px 0px 12px #7c7b7b92;
}

.btn-map:hover .map-icon {
	color: rgb(33, 37, 41);
	font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 24;
}

.btn-green:hover {
	color: rgb(33, 37, 41);
	border: 1px solid #263a29;
	box-shadow: 0px 0px 12px #7c7b7b92;
	/* border-radius: 0.5rem; */
}

.navbar {
	background-color: #263a29;
	color: #e86a33;
}

.nav-link:hover {
	text-decoration: underline;
}

.locHeading {
	width: 100%;
	border-bottom: 2px solid #e86933db;
	background-color: #e8693341;
	/* margin: 0 1rem; */
}

.tips {
	margin-bottom: 1%;
}

@media screen and (min-width: 800px) {
	.card {
		margin: none;
	}
}
